
{% extends "layouts/default.html" %}

{% block title %} Blank Page {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row gap-20 masonry pos-r">
        <div class="masonry-sizer col-md-6 pos-a"></div>
    {% for coin, coindata in linecharts_dict.items() %}
    {% for chart, chartdata in coindata['market_data'].items() %}
              <div class="masonry-item col-md-6">
                <div class="bd bgc-white">
                  <div class="layers">
                    <div class="layer w-100 pX-20 pT-20">
                      <h6 class="lh-1">{{ chart }}</h6>
                    </div>
                    <div class="layer w-100 p-20">
                      <canvas height="220" class="line-chart"><div style="display: none;" class="div-data-for-chart">
        {% for serie_name, values in chartdata['Data Series'].items() %}
                          <input type="text" value="{{ values }}" id="{{ serie_name }}" class="chart_serie_data">
        {% endfor %}
                          <input type="text" value="{{ chartdata['Labels'] }}" id="chart_labels" class="chart_labels"><input type="text" value="{{ chartdata['Series Styles'] }}" id="chart_serie_styles" class="chart_serie_styles"></div>
                      </canvas>
                    </div>
                    <div class="layer bdT p-20 w-100">
                      <div class="peers ai-c jc-c gapX-20">
        {% for change_name, value in chartdata['Change Percentage'].items() %}
                        <div class="peer">
                          <span class="fsz-def fw-600 mR-10 c-grey-800">{{ value }}% 
            {% if value >= 0 %}
                              <i class="fa fa-level-up c-green-500"></i>
            {% else %}
                              <i class="fa fa-level-down c-red-500"></i>
            {% endif %}
                          </span>
                          <small class="c-grey-500 fw-600">{{ change_name }}</small>
                        </div>
        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    {% endfor %}
    {% endfor %}
        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Area Chart</h6>
            <div class="mT-30">
            <canvas id="area-chart" height="220"></canvas>
            </div>
        </div>
        </div>
        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Scatter Chart</h6>
            <div class="mT-30">
            <canvas id="scatter-chart" height="220"></canvas>
            </div>
        </div>
        </div>

    {% for coin, coindata in barcharts_dict.items() %}
              <div class="masonry-item col-md-6">
        {% for chart, chartdata in coindata['market_data'].items() %}
                <div class="bgc-white p-20 bd">
                    <h6 class="c-grey-900">{{ chart }}</h6>
                    <div class="mT-30">
                      <canvas height="220" class="bar-chart"><div style="display: none;" class="div-data-for-chart">
            {% for serie_name, values in chartdata['Data Series'].items() %}
                              <input type="text" value="{{ values }}" id="{{ serie_name }}" class="chart_serie_data">
            {% endfor %}
                          <input type="text" value="{{ chartdata['Labels'] }}" id="chart_labels" class="chart_labels"><input type="text" value="{{ chartdata['Series Styles'] }}" id="chart_serie_styles" class="chart_serie_styles"></div>
                      </canvas>
                    </div>
                </div>
        {% endfor %}
              </div>
    {% endfor %}

        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">jQuery Sparkline</h6>
            <div class="mT-30">
            <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                <div class="peer">
                <span>Spark Line</span>
                </div>
                <div class="peer">
                <span class="sparkline">&nbsp;</span>
                </div>
            </div>
            <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                <div class="peer">
                <span>Spark Bar</span>
                </div>
                <div class="peer">
                <span class="sparkbar">&nbsp;</span>
                </div>
            </div>
            <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                <div class="peer">
                <span>Spark Tristate</span>
                </div>
                <div class="peer">
                <span class="sparktri">&nbsp;</span>
                </div>
            </div>
            <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                <div class="peer">
                <span>Spark Discrete</span>
                </div>
                <div class="peer">
                <span class="sparkdisc">&nbsp;</span>
                </div>
            </div>
            <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                <div class="peer">
                <span>Spark Bullet</span>
                </div>
                <div class="peer">
                <span class="sparkbull">&nbsp;</span>
                </div>
            </div>
            <div class="peers ai-c jc-sb fxw-nw pT-15">
                <div class="peer">
                <span>Spark Box</span>
                </div>
                <div class="peer">
                <span class="sparkbox">&nbsp;</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Easy Pie Charts</h6>
            <div class="mT-30">
            <div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
                <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="75" data-bar-color="#f44336">
                    <span></span>
                </div>
                <h6 class="fsz-sm">New Users</h6>
                </div>
                <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="50" data-bar-color="#2196f3">
                    <span></span>
                </div>
                <h6 class="fsz-sm">New Purchases</h6>
                </div>
                <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="65" data-bar-color="#f44336">
                    <span></span>
                </div>
                <h6 class="fsz-sm">New Customers</h6>
                </div>
                <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="90" data-bar-color="#ff9800">
                    <span></span>
                </div>
                <h6 class="fsz-sm">Bounce Rate</h6>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}
